body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top{
	text-align: right;
	margin-right: 20px;
	color: white;
}

h1 {
  font-size: 10rem;
  color: white;
}

.buffer {
  height: 4.5rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}